@import "../node_modules/foundation-sites/scss/foundation";

@include foundation-everything;

body {
  background: #111;
}

#root {
  height: inherit;
}

.app {
  height: inherit;
}

.game {
  align-items: center;
  display: flex;
  justify-content: center;
  height: inherit;

  &:before {
    align-self: flex-start;
    max-width: 50%;
  }

  &:after {
    align-self: flex-end;
    max-width: 50%;
  }

  &-status-text {
    color: #fff;
    font-size: 18px;
  }
}
